@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --dark-blue: #1d1d1deb;
  --light-gray: #bfbfc1;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "quicksand", sans-serif;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 80px;
  margin: 0;
  font-weight: 300;
}

h2,
h4 {
  margin: 0;
}

h4 {
  font-weight: normal;
}

:root {
  --dark-blue: #1d1d1deb;
  --light-gray: #bfbfc1;
}

.phone-container {
  width: 350px;
  height: 700px;
  background: var(--dark-blue);
  border: 20px solid #111;
  border-radius: 45px;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 60px 10px 20px;
}

.phone-container .phone-notch {
  width: 180px;
  height: 25px;
  background: #111;
  position: absolute;
  left: calc(50% - 90px);
  top: 0;
  border-radius: 0 0 30px 30px;
}
.phone-container .phone-menu-down {
  width: 90px;
  height: 2px;
  background: var(--light-gray);
  position: absolute;
  bottom: 0;
  left: calc(50% - 45px);
}

.phone-container svg {
  height: 80px;
  width: 80px;
  margin: 40px 0 20px;
}

.phone-container .week-weather {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: left;
  margin-top: 60px;
  padding: 0 20px;
  grid-gap: 1rem;
}
